[submodule "SushiSwap"]
	path = SushiSwap
	url = https://github.com/Iam-They/SushiSwap-sdk.git
[submodule "QuickSwap"]
	url = https://github.com/Iam-They/QuickSwap-sdk.git
[submodule "SwapFU.App"]
	path = SwapFU.App
	url = https://github.com/Iam-They/SwapFU.App.git
